<script src="/assets/js/medusa-cart-promise.js"></script>
<div class="cart">
  <div class="cart-item" x-data="{ lineItems: cartPromise }">
    <!-- NOTE: Each `template` must contain only one parent element (like in react) -->
    <template x-if="await lineItems">
      <div>
        <template x-for="item in (await lineItems)">
          <span>
            <h4 x-text="item.title" class="bg-purple-500 text-white w-fit px-4 py-2 mt-4"></h4>
            <button type="button" x-on:click="
              medusaAPI.carts.lineItems.delete(localStorage.getItem('cart_id'), item.id)
              .then(() => {
                location.reload();
              })
            ">
              Remove
            </button>
            <img x-bind:src="item.thumbnail" alt="item.title" style="width: 100px">
            <p>Size: <span x-text="item.description"></span></p>

            <!-- FIXME: spamming the button produces errors and the visual update is laggy -->
            <span x-data="{ qty: item.quantity }">
              <button type="button"
              x-on:click="
                medusaAPI.carts.lineItems.update(localStorage.getItem('cart_id'), item.id, {
                  quantity: qty - 1
                }).then(() => {
                  qty -= 1
                })
              "
              class="btn px-4 py-2 rounded-md bg-purple-500 text-white hover:bg-purple-700 w-fit active"
              >
                -
              </button>
              <span x-text="qty"></span>
              <button type="button"
              x-on:click="
                medusaAPI.carts.lineItems.update(localStorage.getItem('cart_id'), item.id, {
                  quantity: qty + 1
                }).then(() => {
                  qty += 1
                })
              "
              class="btn px-4 py-2 rounded-md bg-purple-500 text-white hover:bg-purple-700 w-fit active"
              >
                +
              </button>
            </span>
          </span>
        </template>
      </div>
    </template>
  </div>
</div>
<script defer src="https://unpkg.com/alpinejs@3.10.3/dist/cdn.min.js"></script>
