<nav class="flex flex-row justify-between px-16 py-8">
  <div class="flex flex-row items-center space-x-12">
    <img src="/assets/logo.svg" class="w-44" />
    <a href="/" class="text-lg text-gray-500">Home</a>
    <a href="/products" class="text-lg text-gray-500">Products</a>
    <a href="/collections" class="text-lg text-gray-500">Collections</a>
  </div>
  <div class="flex flex-row items-center space-x-12">
    <a href="#" class="text-lg text-gray-500">AUD</a>
    <img src="/assets/avatar.svg" class="h-12" />
    <a href="/cart">
      <img src="/assets/checkout.svg" class="h-12 box-border p-2" />
    </a>
  </div>
</nav>
